# K-Nearest Neighbour algorithm  with Iris Dataset

In [1]:
#importing python modules to just read and see the data

In [2]:
import pandas as pd
names=['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']
iris_dataset=pd.read_csv('./iris.data',names=names)

In [3]:
#just to know how the dataset looks
iris_dataset.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris_dataset.tail()

     sepal-length  sepal-width  petal-length  petal-width           Class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
iris_dataset.groupby('Class').groups

{'Iris-setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
            dtype='int64'),
 'Iris-versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
             67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
             84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 'Iris-virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
             126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
             139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64')}

#   -  Implementing KNN from scratch

# The algorithm believes that similar things lie in your closest surroundings
## Birds of a feather flock together..

In [6]:

import math
from collections import Counter

In [7]:
#writing knn algorithm


def knn(data,query,k,distance_fn,choice_fn):
    whole_data=[]
    # here collecting only those columns which are numerical lengths except the last one 
    #containing the class name
    for lst in data:
        num_data=list(map(float,lst[:-1]))
        whole_data.append(num_data)
    
    neighbours_distances_indices=[]
    for index,example in enumerate(whole_data):
        
        #calculating the distance between the query and the current instant
        
        distance=distance_fn(example,query)
        neighbours_distances_indices.append((distance,index))
    
    # sorting the distances 
    
    sorted_neighbours_distances=sorted(neighbours_distances_indices)
    
    
    
    # only taking top k nearest neigbours
    
    k_nearest_neighbours_distances=sorted_neighbours_distances[:k]
    
    
    
    #acknowledging the labels of the nearest neighbours
    
    k_nearest_neighbours_labels=[data[i][-1] for distance,i in k_nearest_neighbours_distances]
    
    
    
    #printing the prediction here (where the query example belong to)
    
    print(choice_fn(k_nearest_neighbours_labels))
    
    
    return k_nearest_neighbours_distances , choice_fn(k_nearest_neighbours_labels)

# calculating the sum of squared distances  
def euclidean_distance(pt1,pt2):
    sum_of_squared_distances =0
    for i in range(len(pt1)):
        sum_of_squared_distances+=math.pow(pt1[i]-pt2[i],2)
    return math.sqrt(sum_of_squared_distances)
        
# finding the most frequent class(label) in the nearest neighbours
def mode(labels):
    return Counter(labels).most_common(1)[0][0]

if __name__=='__main__':
    #loading the data from the file
    with open('./iris.data','r') as iris_data:
        next(iris_data)
        iris_data_in_rows=[]
        #reading the data
        for line in iris_data.readlines():
            row_data=line.strip().split(',')
            iris_data_in_rows.append(row_data)
            
        # Using the KNN algorithm to predict the class by knowing it's respective lengths 
        query=[4.0,2.7,5.3,2.3]
        
        #by chaging the sepal / petal length,sepal / petal width, the difference can be seen 
        
        data_neighbors,data_prediction=knn(iris_data_in_rows,query,k=30,distance_fn=euclidean_distance,choice_fn=mode)

Iris-versicolor