In [1]:
# necessary modules
import pandas as pd
import numpy as np

In [2]:
# loading iris dataset
from sklearn.datasets import load_iris

# data splitting
from sklearn.model_selection import train_test_split

# accuracy-inaccuracy metrics
from sklearn.metrics import confusion_matrix, classification_report

In [3]:
iris = load_iris()

In [4]:
data = pd.DataFrame(np.c_[iris['data'],iris['target']], columns = iris['feature_names']+['target'])

In [5]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [7]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [8]:
y = data['target']
X = data.drop('target', axis = 1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

# Naive Bayes

In [10]:
# Naive Approach
from sklearn.naive_bayes import GaussianNB

In [11]:
ml = GaussianNB()
ml.fit(X_train, y_train)

GaussianNB()

In [12]:
prediction = ml.predict(X_test)

In [13]:
prediction[:20]

array([0., 0., 1., 0., 0., 0., 2., 2., 2., 2., 2., 0., 1., 1., 0., 2., 2.,
       2., 2., 1.])

In [14]:
y_test[:20]

27     0.0
41     0.0
81     1.0
39     0.0
30     0.0
33     0.0
138    2.0
104    2.0
123    2.0
143    2.0
144    2.0
8      0.0
85     1.0
68     1.0
44     0.0
149    2.0
125    2.0
121    2.0
113    2.0
95     1.0
Name: target, dtype: float64

In [15]:
ml.score(X_test, y_test)

0.9777777777777777

In [16]:
confusion_matrix(y_test, prediction)

array([[12,  0,  0],
       [ 0, 14,  0],
       [ 0,  1, 18]])

In [17]:
clf_report = classification_report(y_test, prediction)

In [18]:
print(clf_report)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        12
         1.0       0.93      1.00      0.97        14
         2.0       1.00      0.95      0.97        19

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45