# Naive Bayes On Titanic Dataset and Heart Dataset

In [1]:
import pandas as pd

# Titanic Disaster Survival Prediction Dataset:

In [2]:
titanic = pd.read_csv('./kaggle/titanic.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
from sklearn.metrics import accuracy_score

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
titanic.drop(['PassengerId','Name', 'SibSp', 'Parch', 'Ticket', 'Embarked', 'Cabin'], axis = 1, inplace = True)

In [7]:
titanic.Sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [8]:
titanic.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [9]:
titanic['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [10]:
titanic.tail()

     Survived  Pclass     Sex   Age   Fare
886         0       2    male  27.0  13.00
887         1       1  female  19.0  30.00
888         0       3  female   NaN  23.45
889         1       1    male  26.0  30.00
890         0       3    male  32.0   7.75

In [11]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [12]:
titanic.Age.fillna(titanic['Age'].mean().round(2), inplace=True)

In [13]:
titanic.tail()

     Survived  Pclass     Sex   Age   Fare
886         0       2    male  27.0  13.00
887         1       1  female  19.0  30.00
888         0       3  female  29.7  23.45
889         1       1    male  26.0  30.00
890         0       3    male  32.0   7.75

In [14]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
target = titanic['Survived']

In [17]:
features = titanic.drop('Survived', axis=1)

In [18]:
features.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [19]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [20]:
dummies = pd.get_dummies(features.Sex)

In [21]:
features = pd.concat([features, dummies], axis=1)

In [22]:
features

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female  29.7  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [23]:
features.drop('Sex', axis=1, inplace=True)

In [24]:
features

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3  29.7  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [57]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2)

In [58]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(712, 5) (179, 5) (712,) (179,)

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
model = GaussianNB()

In [61]:
model.fit(X_train, y_train)

GaussianNB()

In [62]:
prediction = model.predict(X_test)

In [63]:

model.score(X_test,y_test)

0.8324022346368715

In [64]:
# also the last 20 examples being in test set and after prediction --comparing

In [65]:
y_test[:20]

865    1
401    0
875    1
434    0
204    1
496    1
128    1
776    0
416    1
887    1
91     0
428    0
152    0
13     0
554    1
159    0
199    0
174    0
797    1
271    1
Name: Survived, dtype: int64

In [66]:
prediction[:20]

array([1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0])

In [67]:
prediction_probability = model.predict_proba(X_test)

In [68]:
prediction_probability

array([[5.19548896e-02, 9.48045110e-01],
       [9.88520483e-01, 1.14795171e-02],
       [8.33186848e-02, 9.16681315e-01],
       [8.24446971e-01, 1.75553029e-01],
       [9.86433935e-01, 1.35660653e-02],
       [2.25010824e-03, 9.97749892e-01],
       [1.09989457e-01, 8.90010543e-01],
       [9.89046183e-01, 1.09538171e-02],
       [4.62342707e-02, 9.53765729e-01],
       [1.01485244e-02, 9.89851476e-01],
       [9.87076337e-01, 1.29236627e-02],
       [9.89046183e-01, 1.09538171e-02],
       [9.87102530e-01, 1.28974702e-02],
       [9.88550024e-01, 1.14499758e-02],
       [9.85187614e-02, 9.01481239e-01],
       [9.63960633e-01, 3.60393674e-02],
       [4.65702878e-02, 9.53429712e-01],
       [8.82693819e-01, 1.17306181e-01],
       [1.11783607e-01, 8.88216393e-01],
       [9.87445898e-01, 1.25541019e-02],
       [9.89010187e-01, 1.09898130e-02],
       [5.20771679e-02, 9.47922832e-01],
       [5.96181632e-11, 1.00000000e+00],
       [9.89065583e-01, 1.09344171e-02],
       [5.03242913e-02, 9.49675709e-01],
       [1.10158174e-01, 8.89841826e-01],
       [9.87591209e-01, 1.24087907e-02],
       [9.88762060e-01, 1.12379398e-02],
       [9.87954313e-01, 1.20456867e-02],
       [9.87321066e-01, 1.26789343e-02],
       [9.88969141e-01, 1.10308588e-02],
       [9.75785291e-01, 2.42147091e-02],
       [9.74224371e-01, 2.57756292e-02],
       [4.34099182e-02, 9.56590082e-01],
       [2.49067674e-03, 9.97509323e-01],
       [4.94540343e-02, 9.50545966e-01],
       [9.86763409e-01, 1.32365912e-02],
       [9.74022476e-01, 2.59775238e-02],
       [1.08563597e-01, 8.91436403e-01],
       [9.77407114e-01, 2.25928864e-02],
       [9.87589210e-01, 1.24107905e-02],
       [5.99674826e-02, 9.40032517e-01],
       [8.64207890e-01, 1.35792110e-01],
       [1.01466893e-02, 9.89853311e-01],
       [9.88085806e-01, 1.19141941e-02],
       [9.69312613e-01, 3.06873871e-02],
       [9.74246859e-01, 2.57531410e-02],
       [9.87091142e-01, 1.29088576e-02],
       [9.68824746e-01, 3.11752544e-02],
       [8.91656064e-01, 1.08343936e-01],
       [1.12176460e-01, 8.87823540e-01],
       [9.64461816e-01, 3.55381843e-02],
       [9.89011960e-01, 1.09880396e-02],
       [9.89044749e-01, 1.09552508e-02],
       [1.05169177e-09, 9.99999999e-01],
       [9.30638693e-01, 6.93613069e-02],
       [9.74355272e-01, 2.56447284e-02],
       [9.89456995e-01, 1.05430049e-02],
       [9.75370683e-02, 9.02462932e-01],
       [8.82540919e-01, 1.17459081e-01],
       [8.62872417e-01, 1.37127583e-01],
       [9.88501857e-01, 1.14981427e-02],
       [9.89047832e-01, 1.09521681e-02],
       [9.63429780e-01, 3.65702203e-02],
       [9.89283677e-01, 1.07163233e-02],
       [9.04897126e-01, 9.51028743e-02],
       [5.46607660e-02, 9.45339234e-01],
       [7.61495148e-03, 9.92385049e-01],
       [9.89046517e-01, 1.09534829e-02],
       [5.18831467e-02, 9.48116853e-01],
       [9.88559295e-01, 1.14407049e-02],
       [5.98634952e-01, 4.01365048e-01],
       [9.89010485e-01, 1.09895147e-02],
       [9.89312823e-01, 1.06871768e-02],
       [9.89065583e-01, 1.09344171e-02],
       [7.16544028e-01, 2.83455972e-01],
       [9.89045047e-01, 1.09549534e-02],
       [4.88651201e-02, 9.51134880e-01],
       [4.09344730e-02, 9.59065527e-01],
       [1.09661944e-01, 8.90338056e-01],
       [4.99525274e-02, 9.50047473e-01],
       [9.05198513e-01, 9.48014867e-02],
       [9.89044528e-01, 1.09554720e-02],
       [9.86666445e-01, 1.33335551e-02],
       [9.85979484e-01, 1.40205160e-02],
       [8.51056477e-01, 1.48943523e-01],
       [9.74871322e-01, 2.51286782e-02],
       [8.24318848e-02, 9.17568115e-01],
       [9.88707571e-01, 1.12924292e-02],
       [9.75081893e-01, 2.49181071e-02],
       [9.87409972e-01, 1.25900281e-02],
       [9.87362387e-01, 1.26376132e-02],
       [9.89509429e-01, 1.04905713e-02],
       [9.89370720e-01, 1.06292800e-02],
       [1.12176460e-01, 8.87823540e-01],
       [1.78165009e-03, 9.98218350e-01],
       [9.81982926e-01, 1.80170741e-02],
       [9.89065583e-01, 1.09344171e-02],
       [1.08211409e-01, 8.91788591e-01],
       [9.87973890e-01, 1.20261096e-02],
       [1.05622374e-01, 8.94377626e-01],
       [8.64937693e-01, 1.35062307e-01],
       [4.44382790e-02, 9.55561721e-01],
       [9.89283677e-01, 1.07163233e-02],
       [9.88231268e-01, 1.17687321e-02],
       [9.00010975e-01, 9.99890248e-02],
       [9.89010187e-01, 1.09898130e-02],
       [9.71926967e-01, 2.80730330e-02],
       [9.86112455e-01, 1.38875446e-02],
       [1.11398623e-01, 8.88601377e-01],
       [5.73257832e-01, 4.26742168e-01],
       [2.00431907e-02, 9.79956809e-01],
       [9.00674738e-01, 9.93252616e-02],
       [8.47677693e-01, 1.52322307e-01],
       [8.55564163e-02, 9.14443584e-01],
       [1.10827220e-01, 8.89172780e-01],
       [9.86453140e-01, 1.35468598e-02],
       [9.89284905e-01, 1.07150949e-02],
       [1.07761423e-01, 8.92238577e-01],
       [9.78757276e-01, 2.12427242e-02],
       [3.28987274e-05, 9.99967101e-01],
       [4.12160889e-02, 9.58783911e-01],
       [9.86775313e-01, 1.32246866e-02],
       [9.82869760e-01, 1.71302405e-02],
       [9.87581143e-01, 1.24188570e-02],
       [5.92091253e-02, 9.40790875e-01],
       [9.89046183e-01, 1.09538171e-02],
       [3.52393435e-02, 9.64760657e-01],
       [1.10060032e-01, 8.89939968e-01],
       [1.09983552e-01, 8.90016448e-01],
       [9.87368360e-01, 1.26316402e-02],
       [9.89051387e-01, 1.09486132e-02],
       [9.89377264e-01, 1.06227361e-02],
       [8.03554905e-03, 9.91964451e-01],
       [9.04423351e-01, 9.55766495e-02],
       [9.88830738e-01, 1.11692624e-02],
       [1.34569351e-03, 9.98654306e-01],
       [9.86783513e-01, 1.32164867e-02],
       [9.87651679e-01, 1.23483213e-02],
       [3.67840528e-05, 9.99963216e-01],
       [8.40435829e-01, 1.59564171e-01],
       [9.88913301e-01, 1.10866995e-02],
       [9.70842089e-01, 2.91579107e-02],
       [3.97992160e-02, 9.60200784e-01],
       [9.89464732e-01, 1.05352683e-02],
       [9.52514390e-01, 4.74856099e-02],
       [9.73618194e-01, 2.63818061e-02],
       [9.88680456e-01, 1.13195438e-02],
       [9.89046183e-01, 1.09538171e-02],
       [9.88273263e-01, 1.17267371e-02],
       [9.74368544e-01, 2.56314559e-02],
       [9.89010485e-01, 1.09895147e-02],
       [9.89462109e-01, 1.05378905e-02],
       [1.11317995e-01, 8.88682005e-01],
       [1.10159114e-01, 8.89840886e-01],
       [8.97135324e-01, 1.02864676e-01],
       [9.74213261e-01, 2.57867394e-02],
       [9.88728900e-01, 1.12711002e-02],
       [1.10791238e-01, 8.89208762e-01],
       [9.12640978e-02, 9.08735902e-01],
       [9.88510131e-01, 1.14898690e-02],
       [3.50677597e-03, 9.96493224e-01],
       [8.52835787e-02, 9.14716421e-01],
       [9.75693760e-01, 2.43062398e-02],
       [9.89452625e-01, 1.05473746e-02],
       [9.88927130e-01, 1.10728704e-02],
       [9.89254444e-01, 1.07455563e-02],
       [1.91972413e-03, 9.98080276e-01],
       [9.88997606e-01, 1.10023938e-02],
       [1.16154466e-01, 8.83845534e-01],
       [9.69699074e-01, 3.03009258e-02],
       [9.68005610e-01, 3.19943897e-02],
       [7.99889351e-06, 9.99992001e-01],
       [7.65499581e-01, 2.34500419e-01],
       [1.14931837e-01, 8.85068163e-01],
       [6.96475466e-03, 9.93035245e-01],
       [8.85753245e-01, 1.14246755e-01],
       [9.87735530e-01, 1.22644699e-02],
       [9.87382835e-01, 1.26171654e-02]])

# Heart Attack Prediction Dataset

In [69]:
heart = pd.read_csv('./kaggle/heart.csv')

In [70]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [71]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [72]:
y_h = heart.target

In [73]:
X_h = heart.drop('target', axis=1)

In [74]:
X_h

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [95]:
X_train_h, X_test_h, y_train_h, y_test_h = train_test_split(X_h, y_h, test_size=0.2)

In [96]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_h = scaler.fit_transform(X_train_h)
X_test_h = scaler.transform(X_test_h)

In [97]:
heart_model = GaussianNB()

In [98]:
heart_model.fit(X_train_h, y_train_h)

GaussianNB()

In [99]:
prediction_h = heart_model.predict(X_test_h)

In [100]:
# also the last 20 examples being in test set and after prediction --comparing

In [101]:
y_test_h[:20] #if run for few more times the accuracy is being achieved

130    1
96     1
170    0
37     1
111    1
268    0
2      1
5      1
161    1
255    0
158    1
160    1
73     1
179    0
89     1
166    0
138    1
52     1
103    1
247    0
Name: target, dtype: int64

In [102]:
prediction_h[:20]

array([1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0])

In [103]:
heart_model.score(X_test_h, y_test_h)

0.8360655737704918

In [84]:
prediction_probability_h = heart_model.predict_proba(X_test_h)

In [85]:
prediction_probability_h

array([[6.58406483e-02, 9.34159352e-01],
       [9.99975510e-01, 2.44904727e-05],
       [9.99939775e-01, 6.02247115e-05],
       [9.85148722e-01, 1.48512782e-02],
       [9.77313003e-01, 2.26869970e-02],
       [9.98664431e-01, 1.33556892e-03],
       [1.08138458e-01, 8.91861542e-01],
       [4.87731958e-02, 9.51226804e-01],
       [1.36863284e-01, 8.63136716e-01],
       [1.92062806e-03, 9.98079372e-01],
       [3.72281256e-03, 9.96277187e-01],
       [2.42859511e-01, 7.57140489e-01],
       [4.48941314e-01, 5.51058686e-01],
       [9.99998023e-01, 1.97711198e-06],
       [2.98640074e-02, 9.70135993e-01],
       [8.22550523e-03, 9.91774495e-01],
       [9.99804222e-01, 1.95777946e-04],
       [3.07228811e-02, 9.69277119e-01],
       [6.95523962e-04, 9.99304476e-01],
       [8.32986329e-05, 9.99916701e-01],
       [5.45173748e-02, 9.45482625e-01],
       [7.83366053e-02, 9.21663395e-01],
       [6.96816373e-02, 9.30318363e-01],
       [1.16537983e-01, 8.83462017e-01],
       [9.23878635e-01, 7.61213647e-02],
       [2.17904403e-02, 9.78209560e-01],
       [6.49060563e-01, 3.50939437e-01],
       [2.29683012e-02, 9.77031699e-01],
       [9.13311469e-01, 8.66885309e-02],
       [2.87195699e-01, 7.12804301e-01],
       [1.94874256e-01, 8.05125744e-01],
       [5.72004060e-01, 4.27995940e-01],
       [4.73320958e-03, 9.95266790e-01],
       [3.79394530e-01, 6.20605470e-01],
       [9.71513282e-01, 2.84867179e-02],
       [9.99763711e-01, 2.36289149e-04],
       [9.97455545e-01, 2.54445484e-03],
       [9.99978575e-01, 2.14249045e-05],
       [3.02154420e-03, 9.96978456e-01],
       [3.95855708e-02, 9.60414429e-01],
       [7.30980094e-01, 2.69019906e-01],
       [7.37616462e-01, 2.62383538e-01],
       [7.61546623e-03, 9.92384534e-01],
       [4.77452779e-02, 9.52254722e-01],
       [9.99705543e-01, 2.94457024e-04],
       [9.99850786e-01, 1.49213937e-04],
       [3.25178314e-03, 9.96748217e-01],
       [2.57984810e-03, 9.97420152e-01],
       [9.98689439e-01, 1.31056146e-03],
       [1.01001773e-02, 9.89899823e-01],
       [2.08146314e-02, 9.79185369e-01],
       [5.87260188e-04, 9.99412740e-01],
       [9.98051544e-01, 1.94845564e-03],
       [9.92244278e-01, 7.75572190e-03],
       [9.99955923e-01, 4.40772508e-05],
       [4.54245387e-01, 5.45754613e-01],
       [3.95019271e-03, 9.96049807e-01],
       [4.13328379e-01, 5.86671621e-01],
       [6.03536841e-03, 9.93964632e-01],
       [9.96107461e-01, 3.89253851e-03],
       [3.05869700e-02, 9.69413030e-01]])